BasedOnStyle: LLVM
UseTab: ForContinuationAndIndentation
IndentWidth: 4
TabWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: false
    AfterStruct: true
    # BeforeLambdaBody: true

AllowShortCaseLabelsOnASingleLine: true
# AllowShortEnumsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 0
AccessModifierOffset: -4
DerivePointerAlignment: false
PointerAlignment: Left

FixNamespaceComments: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceAfterTemplateKeyword: false

AlignOperands: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

# IncludeBlocks: Preserve
SortUsingDeclarations: false